$background: #EDEDED;
$blue-night: #071F44;
$beige: #B4A497;
$khaki: #A17F73;

.primary {
  border: 1px solid $blue-night;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 18px 16px;
  // create transition for color, transform and background-color
  -webkit-transition: color 0.4s, transform 0.6s, background-color 0.4s;
  -moz-transition: color 0.4s, transform 0.6s, background-color 0.4s;
  transition: color 0.4s, transform 0.6s, background-color 0.4s;

  //text
  font-family: 'Cremona';
  font-size: 20px;
  line-height: 22px;
  color: $blue-night;

  &:hover {
    transform: scale(1.05);
    background-color: $blue-night;
    color: $background;
    border:none
  }
}

// mobile styles
@media only screen and (max-width: 800px) {
  .primary {
    padding: 14px 12px;

    font-size: 16px;
  }
}
