---
import ContactForm from '../components/ContactForm/ContactForm'
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/text.scss'
---

<Layout title="Eduardo Piña">
  <main>
    <ContactForm client:visible />
  </main>
</Layout>