$blue-night: #071F44;

.Container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  
  span {
    text-align: center;
  }
}

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;

  input {
    background: transparent;
    padding: 10px 4px;
    border-bottom: 1px solid $blue-night;
    outline: none;
    width: 100%;
    margin:20px;
  }

  button {
    margin-top: 10px
  }
}

// mobile
@media (max-width: 767px) {
  .ContactForm {
    div {
      flex-direction: column;
    }

    input {
      margin: 10px 0;
    }
  }
}