---
import {Image} from "@astrojs/image/components"
import styles from './styles.module.scss'
import logo from '../../assets/logo.svg'
---
<header class={styles.header}>
  <a href="/"><img src={logo} alt="logo" height={60} width={60}/></a>
  <div class={styles.header__content}>
    <a href="/resume"><span>Resume</span></a>
    <a href="/contact"><span>Contact</span></a>
    <a href="/about"><span>About</span></a>
  </div>
</header>