---
import styles from './styles.module.scss'
import logo from '../../assets/logo.svg'
---
<header class={styles.header}>
  <a href="/"><img class={styles.logo} src={logo} alt="logo"/></a>
  <div class={styles.header__content}>
    <!-- <a href="/resume"><span>Resume</span></a> -->
    <a href="/contact"><span>Contact</span></a>
    <a href="#about"><span>About</span></a>
  </div>
</header>